<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="Bodak_checkout_custom_fields_show_fields" type="Bodak\CheckoutCustomForm\Plugin\Block\Adminhtml\CustomFields" sortOrder="99999" />
    </type>
</config>